<!DOCTYPE html>
<html ng-app="twlg">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="socket.io/socket.io.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/services.js"></script>
  </head>
  <body ng-controller="TwlgCtrl">
    <h1><img src="/images/top.png" alt="log_t @necocen"></h1>
    <input type="text" ng-model="query" ng-change="search()">
    <div ng-repeat="tweet in tweets">
      <p>{{tweet.text}}</p>
    </div>
  </body>
</html>
